/*---------GENERAL SETTINGS-------*/
body *,
body *:after,
body *::before
	box-sizing: border-box

html, body
	&.freeze
		height: 100%
		overflow: hidden

body
	font-size: 16px
	line-height: 1.6
	color: $black
	margin: 0
	padding: 0
	font-family: $fontMain
	font-weight: $fw-Regular

a
	color: $black
	text-decoration: none

ol, ul
	list-style: none

.input
	font-family: $fontMain
	&[type="text"], &[type="tel"], &[type="email"], &[type="password"]
		-webkit-appearance: none
		border-radius: 0
		border: none
		background-color: transparent
		outline: none
	&[type="radio"], &[type="checkbox"]
		display: none

textarea
	font-family: $fontMain
	-webkit-appearance: none
	border-radius: 0
	border: none
	background-color: transparent
	outline: none
	resize: none

button
	outline: none
	&:disabled
		cursor: default

.table
	display: table

.tr
	display: table-row

.td, .th
	display: table-cell

.link
	cursor: pointer

.btn
	display: inline-block
	line-height: 1
	text-align: center
	cursor: pointer

.page
	overflow: hidden

#svg-sprites
	display: none

.img--bg
	@include img-bg

.gallery
	position: relative

.switch__tab
	cursor: pointer

.gallery__tab
	display: none
	&.active
		display: block