<template>
	<div id="app">
		<input type="text" v-model="search" @input="update"/>
		<br>
		<br>
		<ul>
			<li v-for="result_item in result">
				<ul>
					<li><a :href="result_item.svn_url">{{result_item.name}}</a></li>
					<li>stars: {{result_item.stargazers_count}}</li>
					<li>watchers: {{result_item.watchers_count}}</li>
				</ul>
			</li>
		</ul>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				search: ''
			}
		},
		computed: {
			result() {
				return this.$store.getters.getResult;
			}
		},
		methods: {
			update: _.debounce(
				function() {
					let search = this.search;
					this.$store.dispatch('update', search);
				}, 2000)
		}
	}
</script>

<style scoped>

</style>